h1 {
  font-size: 2rem;
  text-align: center;
}

td ,th,table {
  text-align: center !important;
  border: solid 1.5px grey !important;
}

th{
  background-color: rgba(128, 128, 128, 0.471) !important;
}
