

<div class = "container">   

    <h1>To-Do-List</h1>
    <!-- linha  -->
    <hr>  
    <form #taskForm="ngForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Tarefa</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Descricao da tarefa" ngModel name="task">
          <small id="errorMessage" class="form-text text-danger">(Campo Obrigatório)</small>
        </div>

        <button id = "submitButton"type="submit" class="btn btn-primary">Adicionar tarefa</button>
      </form>
    
     <hr>
     
     <table class="table">
        <thead>
          <tr>
            <th scope="col">Task</th>
            <th scope="col">Completed</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td><input id="myCheckbox" type="checkbox"></td>
            <td><button class="btn btn-danger btn-sm">Delete</button></td>
          </tr>

 
        </tbody>
      </table>

</div>
