<div class="container">
  <h1>To-Do-List</h1>
  <!-- linha  -->
  <hr />

  <form #taskForm="ngForm" (ngSubmit)="selecionar()">
    <div class="form-group">
      <label for="descricao">Tarefa</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Descricao da tarefa"
        ngModel
        name="task"
        [(ngModel)]="tarefa.descricao"
      />
      <small id="errorMessage" class="form-text text-danger"
        >(Campo Obrigatório)</small
      >
      <hr />
      <label for="prioridade">Prioridade</label>
      <input
        type="number"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Prioridade da Tarefa"
        ngModel
        name="prioridade"
        [(ngModel)]="tarefa.prioridade"
      />
      <small id="errorMessage" class="form-text text-danger"
        >(Campo Obrigatório)</small
      >
    </div>

    <button type="submit" (click)="cadastrar()" class="btn btn-secondary">
      Adicionar tarefa
    </button>
  </form>

  <hr />

  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let header of headers" scope="col">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of tarefas">
        <td>{{ t.descricao }}</td>
        <td>{{ t.prioridade }}</td>
        <td><input type="checkbox" /></td>
        <td>
          <button
            class="btn btn-danger btn-sm buttonCustom"
            (click)="deletar(t.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
